.radio_group_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  height: 35px;
  margin: 10px;
  padding: 6px;
  border: 1px solid rgb(104, 98, 98);
  border-radius: 2px;
}

.radio_base {
  width: 20px;
  height: 35px;
  padding: 5px;
  margin-right: 3px;
}

.flex {
  display: flex;
  align-items: center;
}

.cursor {
  cursor: pointer;
}