
.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 580px;
  scroll-behavior: smooth;
}

.list {
  border: 3px solid #C4C4C4;
}

.loading {
  justify-content: center;
  align-items: center;
}
