
.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 100vh;
  border: 4px solid darkgray;
  overflow: scroll;
}

.List {
  border: 1px solid #d9dddd;
}

.ListItemEven,
.ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListItemEven {
  background-color: #f8f8f0;
}