.row {
  margin: 10px; 
  height: 50px;
  width: fit-content;
}

.row_flex {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: nowrap;
  height: 100%;
}

.line_offset {
  margin-left: -10px;
}