#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #131313;
  margin: 1em 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.widemost {
  width: 100%;
  max-width: 100%;
}